@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*-------Header/ Navbar-------*/

.bg-navbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.nav-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.nav {
    color: green;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

button span i {
   font-size: 30px;
   text-align: center;
   color: rgba(224, 172, 26);
}

button span svg:hover {
   color: ivory;
}

.nav-link, .dropdown-item, .nav-item {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.nav-link, .dropdown-item, .nav-item,
.nav-link, .dropdown-item, .nav-item:focus,
.nav-link, .dropdown-item, .nav-item:active,
.nav-link, .dropdown-item, .nav-item:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*-------Stack Overflow-------*/

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

/*-------Contact Us Modal-------*/

.btn--cct {
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: rgba(224, 172, 26, 0.25);
    border: none;
    border-radius: 0;
}

.btn--cct:hover {
    color: rgb(224, 172, 26);
    background: ivory;
}

/*-------Front Page-------*/

.bg-front-container {
    background: url('../images/koa-band.jpg') no-repeat center center;
    background-size: cover;
    max-width: 100%;
    height: 1000px;
    overflow: hidden;
}

@media (max-width: 575.98px) { 

.bg-front-container {
    background: url('../images/koa-band.jpg') no-repeat center center;
    background-size: 1300px;
}
}

/*-------Front Page Space Div-------*/

#space-container {
    height: 300px;
}

/*-------Front Gig Guide------*/

.gig-jumbotron {
    color: rgba(224, 172, 26);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gig-display {
    font-size: 36px;
}

@media (max-width: 575.98px) { 

.gig-jumbotron {
    font-size: 10px;
}

.gig-display {
    font-size: 25px;
}
}

.gig-list {
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    font-weight: 700;
    padding-left: 3px;
    padding-right: 3px;
}
 
/*-------Front Sign-Up------*/

.jumbotron {
    color: rgba(224, 172, 26);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron a {
    color: ivory;
}

.btn--jbt {
    color: ivory;
    font-size: 15px;
    font-weight: 400;
    background: rgba(224, 172, 26, 0.25);
    border: none;
    border-radius: 0;
}

.btn--jbt,
.btn--jbt:focus,
.btn--jbt:active {
    outline: none;
    border: none;
    box-shadow: none;
    
}

.btn--jbt:hover {
    color: rgba(224, 172, 26);
    background: ivory;
}

.btn--mdl {
    color:ivory;
    font-size: 15px;
    font-weight: 400;
    background: rgba(224, 172, 26);
    border: none;
    border-radius: 0;
}

.dropdown-item-font {
    font-family: 'Roboto', sans-serif;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

/*-------Front Audio Clip------*/

.audio-jumbotron {
    color: rgba(224, 172, 26);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    justify-content: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-jumbotron p a {
    color: ivory;
}

.audio-jumbotron-left {
    color: rgba(224, 172, 26);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-jumbotron-left p a {
    color: ivory;
}

.col-margin {
    margin-left: 30px;
}

.modal {
    font-family: 'Roboto', sans-serif;
    border-radius: 0;
}

.clearfix {
    overflow: auto;
    content: "center";
}

/*-------Band Page-------*/

.intro-band-header h1{
    color: rgba(224, 172, 26);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-emphasis: none;
}

.intro-band-text {
    color: rgba(224, 172, 26);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

#bg-band {
    background-color: black;
}

.band-container {
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.band-topspace {
    margin-top: 20px;
}

.card {
    font-family: 'Roboto', sans-serif;
    color: ivory;
    border-radius: 0;
    border: none;
    background-color: transparent;
    padding: 10px 10px 0 10px;
    margin: auto 0;
    min-width: 100%;
    min-height: 100%;
}
.card-text {
    text-align: center;
}

section {
    background: black;
    padding-top: 50px;
    padding-bottom: 100px;
}

/*-------Return Home button------*/

#return-text a {
    color: rgba(224, 172, 26);
    padding-top: 10px;
}

a:hover {
  color: ivory;
}

/*-------Footer Front Page-------*/

.bg-footer-color {
    background-color: rgba(0, 0, 0, 0.8);
}

.foot-row-align {
    justify-content: center;
}

#foot-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.media-links {
    text-align: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.media-links li a i {
    color: rgba(224, 172, 26);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    min-height: 50px;
    padding: 10px;
}

.head-foot-col-align {
    text-align: center;
    justify-content: center;
}

.media-links li a i:hover {
    color: ivory;
}

/*-------Fanwall Contact Button-------*/

.btn--fancct {
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: rgb(135, 140, 175, 0.8);
    border: none;
    border-radius: 0;
}

.btn--fancct:hover {
    color: rgb(135, 140, 175);
    background:ivory;
}

/*-------Fanwall Navbar-------*/

.btn--nsu {
    color: ivory;
    font-size: 15px;
    font-weight: 400;
    background: rgb(135, 140, 175);
    max-width: 100%;
    border: none;
    border-radius: 0;
}

.btn--nsu,
.btn--nsu:focus,
.btn--nsu:active {
    outline: none;
    border: none;
    box-shadow: none;
}

/*-------Fanwall main Page-------*/

.bg-fan-container {
    background: url('../images/blur-joa-band.jpg') no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    height: 1000px;
    overflow: auto;
}

.intro-fan-text {
    color: rgb(135, 140, 175);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h1{
    color: rgb(135, 140, 175);
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: none;
}

/*-------Stack overflow solution-------*/

#audio-quote iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#fan-button span i {
   font-size: 30px;
   text-align: center;
   color: rgb(135, 140, 175);
}

#fan-button span i:hover {
   color: ivory;
}

#fan-header-margin {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

#fan-mail {
    height: 200px;
    width: 90%;
    padding: 10px;
    margin: 15px;
}

.fan-quote p {
    color: rgb(135, 140, 175);
} 

.fan-quote h4 {
    color: rgb(135, 140, 175);
    text-align: center;
} 

.fan-quote img {
    text-align: center;
} 

.bg-quote-container {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    min-height: 85%;
    padding: 30px;
}

.fanmail-container {
    margin-top: 10px;
    min-height: 100px;
}

/*-------Cool Stuff Page-------*/

.bg-card-cool {
    background-color: rgba(135, 140, 175);
}

.card-cool-text p {
    color: ivory;
    text-align: center;
    font-size: 20px;
}

/*-------Skål Page-------*/

.intro-skal-header h1 {
    color: ivory;
    padding-top: 10px
}

.intro-skal-text {
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.bg-skal-container {
    background-color: rgba(135, 140, 175);
}

#fan-return-text a {
    color:  ivory;  
}

.skal-gallery-size {
    margin-top: 20px;
}

/*-------fanwall-footer-------*/

.media-links-cool li a i {
    color: rgb(135, 140, 175);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    min-height: 50px;
    padding: 10px;
}

.media-links-cool li a i:hover {
    color: ivory;
}

/*-------Fail Page-------*/

.bg-fail-front-container {
    background: url('../images/forest.jpg') no-repeat center center fixed;
    background-size: cover;
    max-width: 100%;
    height: 1200px;
    overflow: hidden;
}

.fail-jumbotron {
    color:rgb(231, 65, 24);
    text-align: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 575.98px) { 

.fail-jumbotron {
    max-width: 100%;
}

.fail-jumbotron h1 {
    color:rgb(231, 65, 24);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
}

.fail-jumbotron h1 {
    color:rgb(231, 65, 24);
     padding-left: 10px;
    padding-right: 10px;
}

#fail-button span i {
   font-size: 30px;
   text-align: center;
   color:  rgb(231, 65, 24);
}

#fail-button span i:hover {
   color: ivory;
}

.fail-media-links li a i {
    color: rgb(231, 65, 24);
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    min-height: 50px;
    padding: 10px;
}

.fail-media-links li a i:hover {
    color: ivory;
}

.btn--red {
    color: ivory;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background:rgb(231, 65, 24);
    border: none;
    border-radius: 0;
}

.btn--red:hover {
    color:rgb(231, 65, 24);
    background:ivory;
}