@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto&display=swap');

body {
    font-family: 'Amatic SC', sans-serif;
    color: green;
}

/*-------Header-------*/
.bg-navbar {
    background-color: green;
}

.nav {
    color: green;
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

button span i{
   font-size: 30px;
   text-align: center;
   color:greenyellow;
}

.nav-link, .dropdown-item, .nav-item {
    font-family: 'Amatic SC', sans-serif;
    font-size: 30px;
    font-weight: 600;
}
/*-------Stack Overflow-------*/
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
/*-------Front-------*/
/*-------Band-------*/
/*-------The Legend-------*/
/*-------Footer-------*/
.bg-footer-color {
 background-color: rgba(0, 0, 0, 0.8);
}

.foot-row-align {
    justify-content: center;
}

#foot-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.media-links {
 text-align: center;
 justify-content: center;
 padding: 0;
 margin: 0;
}

.media-links li a i {
  color: ivory;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  min-height: 50px;
  padding: 10px;
}

.head-foot-col-align {
  text-align: center;
  justify-content: center;
}

.media-links li a i:hover {
  color: pink;
}
/*-------Fanwall-------*/
/*-------Cool Stuff-------*/
/*-------Our Army-------*/
/*-------Fail Page-------*/
